* {
    font-family: Arial, serif;
}
h5 {
	background-color:black;
	color:white;
	text-align:center;
	margin:0px 1px;
}

.white-text {
    color:white;
}

body {
  background: rgb(204,204,204); 
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;  
}

@media print {
  body {
    margin: 0;
    box-shadow: 0;
	width: 29.7cm;
	height: 21cm; 
  }
}

.global-array {
	//display:block;
	//margin : 10px 0px; // TODO retirer ?
}

.white-array {
	background-color:white;
	width:10%;
	float:left;
	margin: 7px 0px;
}

.black-array {
	background-color:black;
	width:90%;
	float:right;
	margin: 0px 0px 7px 0px;
    position: relative;
    top: 7px; 
    z-index: 50;
}


.white-array {
	background-color:white;
	width:90%;
	float:right;
	margin: 0px 0px 7px 0px;
    font-size:x-small;
    font-weight: bold;
}

.gray-array {
	background-color:gainsboro;
	width:90%;
	float:right;
	margin: 0px 0px 7px 0px;
    font-size:x-small;
    font-weight: bold;
}

.white-input {
	width:22px;
    height: 17px;
	border:1px solid black;
}

.main-input-square {
	text-align:right;
	width:28px;
	height:30px;
	float:right;
	
	padding-right:5px;
	position:relative;
	right:-20px;
	border: 1px solid;
    z-index: 100;
}

.main-input-square-2 {
	text-align:right;
	width:28px;
	height:15px;
	float:right;
    top:5px;
    position: relative;
	vertical-align: middle;    
	border: 1px solid;
}
.main-input-square-3 {
	text-align:right;
	width:28px;
	height:15px;
	float:left;
    top:5px;
    position: relative;
	vertical-align: middle;
	border: 1px solid;
}

.main-input-circle {
	text-align:right;
	width:27px;
	height:27px;
    top:1px;
	float:right;
	position:relative;
	right:-20px;
	padding-right:8px;
	padding-left:-5px;
	border: 1px solid;
    border-radius: 25px;
    z-index: 100;
}

.white-button {
    background-color: #FFF;
    font-size: larger;
    border: 2px solid;
    float:none;
}

.black-button {
    background-color: #000;
    font-size: larger;
    border: 2px solid;
    color:antiquewhite;
    float:none;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-1-8 {width: 12.5%;}
.col-2-8 {width: 25%;}
.col-3-8 {width: 37.5%;}
.col-4-8 {width: 50%;}
.col-5-8 {width: 62.5%;}
.col-6-8 {width: 75%;}
.col-7-8 {width: 87.5%;}
.col-8-8 {width: 100%;}

.col-1-9 {width: 11.11%;}
.col-2-9 {width: 22.22%;}
.col-3-9 {width: 33.33%;}
.col-4-9 {width: 44.44%;}
.col-5-9 {width: 55.55%;}
.col-6-9 {width: 66.66%;}
.col-7-9 {width: 77.77%;}
.col-8-9 {width: 88.88%;}
.col-9-9 {width: 100%;}

.padding-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.margin-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.margin-10 {
    margin-left: 10px;
    margin-right: 10px;
}

[class*="col-"] {
    float: left;
}

.centered {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}


[class*="composant-"] {
    display:inline-block;
    margin:0px 5px;
}

[class*="block-composant-"] {
    display:block;
    margin:0px 5px;
}


.row {
margin : 0px 0px;
}

.thin-row {
    margin : 0px 0px;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.small-input-line {
    border-style: hidden hidden solid hidden;
    border-width: 0px 0px 1px 0px;
    font-size:medium;
    width:90%;
    background-color: rgba(255, 255, 255, 0.5);
    //height:30px;
    //background-color: antiquewhite;
}

.bg-creme {
    background-color: antiquewhite;
}

.input-line {
    border-style: hidden hidden solid hidden;
    border-width: 0px 0px 1px 0px;
    font-size:medium;
    width:100%;
    height:30px;
}

.text-top {
    vertical-align: text-top;
}

.text-bottom {
    ///vertical-align: text-bottom;
    position: relative;
    bottom: -5px;
}

.label-input-line {
    line-height:10px;
    font-size:x-small;
    // vertical-align: text-top;
}



.white-label {
    line-height:10px;
    font-size:x-small;
    vertical-align: text-top;
    color:azure;
    
}

.input-square {
	text-align:right;
	//width:28px;
    width:100%;
	height:30px;
	//margin:0px 5px;
	border: 1px solid;
}


.ban {
    color:bisque;
background: linear-gradient( 
  #ccc6c3 0%,
  #828c95 24%,
  #000000 41%,
  #7f7f7f 100%);
}